@using WebScience.Models;
@using WebScience.ViewData;
@{
    ViewBag.Title = "ThongTinLyLich";
    var _lylich = (ViewLyLich)ViewBag.LyLich;
    var _tochuc = (ViewToChucLyLich)ViewBag.ToChuc;
    var _daotao = (List<ViewDaoTaoLyLich>)ViewBag.DaoTao;
    var _congtac = (List<ViewCongTacLyLich>)ViewBag.CongTac;
    //var _vanbang = (List<tb_VanBang>)ViewBag.VanBang;
    //var _giaithuong = (List<tb_GiaiThuong>)ViewBag.GiaiThuong;
    //var _nhiemvu = (List<tb_NhiemVu>)ViewBag.NhiemVu;
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="~/Content/dist/img/user1-128x128.jpg" alt="User profile picture">
                    <h3 class="profile-username text-center">@_lylich.HoVaTen</h3>
                    <p class="text-muted text-center">@_lylich.Email</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Học Hàm: </b><a>@_lylich.TenHocHam</a>
                        </li>
                        <li class="list-group-item">
                            <b>Học Vị: </b><a>@_lylich.TenHocVi</a>
                        </li>
                        <li class="list-group-item">
                            <b>Email: </b> <a>@_lylich.Email</a>
                        </li>
                    </ul>
                    <a class="btn btn-primary btn-block" href="@Url.Action("BaoCaoThongTinKhoaHoc","LyLich", new { Id = _lylich.Id, MaLyLich = _lylich.MaLyLich } )"><i class="fa fa-print"></i> In Thông Tin Khoa Học</a>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            @Html.Partial("PartialToChuc", _tochuc)
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#quatrinhdaotao" data-toggle="tab">Quá trình đào tạo</a></li>
                    <li><a href="#quatrinhcongtac" data-toggle="tab">Quá trình công tác</a></li>
                    <li><a href="#vanbang" data-toggle="tab">Văn Bằng</a></li>
                    <li><a href="#giaithuong" data-toggle="tab">Giải Thưởng</a></li>
                    <li><a href="#nhiemvu" data-toggle="tab">Nhiệm Vụ</a></li>
                    <li><a href="#settings" data-toggle="tab">Thành Tựu</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="quatrinhdaotao">
                        @Html.Partial("PartialQuaTrinhDaoTao", _daotao)
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="quatrinhcongtac">
                        @Html.Partial("PartialQuaTrinhCongTac", _congtac)
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="vanbang">
                        @Html.Partial("PartialVanBang", ViewData["VanBang"])
                    </div>
                    <div class="tab-pane" id="giaithuong">
                        @Html.Partial("PartialGiaiThuong", ViewData["GiaiThuong"])
                    </div>
                    <div class="tab-pane" id="nhiemvu">
                        @Html.Partial("PartialNhiemVu", ViewData["NhiemVu"])
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

