@using WebScience.Models;
@model WebScience.Models.tb_DeTai
@{
    ViewBag.Title = "ThongTinDeTai";
}

<section class="content">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#thongtindetai" data-toggle="tab">Thông tin đề tài</a></li>
                    <li><a href="#dongtacgia" data-toggle="tab">Đồng tác giả</a></li>
                    <li><a href="#baibao" data-toggle="tab">Bài báo</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="thongtindetai">
                        <div class="box-body">
                            <!-- info row -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MaDeTai)
                                        @Html.TextBoxFor(model => model.MaDeTai, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.MaDeTai, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TacGia)
                                        @Html.TextBoxFor(model => model.TacGia, new { @id = "TenTacGia", @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.TacGia, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NgayCongBo)
                                        @Html.TextBoxFor(model => model.NgayCongBo, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.NgayCongBo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TenDeTai)
                                        @Html.TextBoxFor(model => model.TenDeTai, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.TenDeTai, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.QuyMo)
                                        @Html.TextBoxFor(model => model.QuyMo, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.QuyMo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NgayDangKy)
                                        @Html.TextBoxFor(model => model.NgayDangKy, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.NgayDangKy, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TieuDe)
                                        @Html.TextBoxFor(model => model.TieuDe, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ThoiGian)
                                        @Html.TextBoxFor(model => model.ThoiGian, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.ThoiGian, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NoiApDung)
                                        @Html.TextBoxFor(model => model.NoiApDung, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.NoiApDung, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NoiDung)
                                        @Html.TextBoxFor(model => model.NoiDung, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FileName)
                                        <div class="input-group">
                                            <input type="text" id="FileName" readonly="readonly" value="@Model.FileName" name="FileName" class="form-control">
                                            <div class="input-group-addon">
                                                <i class="fa fa-cloud-download"></i>
                                                Tải về
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            @using (Html.BeginForm("UpdateFile", "DeTai", new { Id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @ViewBag.Message
                                        <label for="exampleInputFile">File Đề Tài</label>
                                        <input type="file" name="file" id="file">
                                        <p class="help-block">Chọn file đề tài để lưu ở đây.</p>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Cập Nhật</button>
                                </div>
                            }
                        </div>

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="dongtacgia">
                        <div class="box box-primary">
                            <form method="post" id="fromdongtacgia" action="@Url.Action("CreateDongTacGia")" data-otf-ajax="true" data-otf-target="#danhsachdongtacgia">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Thêm Mới Đồng Tác Giả</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="row">
                                        <input type="hidden" id="IdMaDeTai" name="IdMaDeTai" value="@Model.Id" class="form-control">
                                        <input type="hidden" id="MaDeTai" name="MaDeTai" value="@Model.MaDeTai" class="form-control">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Tên Đồng Tác Giả</label>
                                                <div class="input-group">
                                                    <input type="text" id="TenDongTacGia" readonly="readonly" class="form-control" name="TenDongTacGia">
                                                    <input type="hidden" id="IdMaLyLich" name="IdMaLyLich" class="form-control">
                                                    <div class="input-group-addon" data-toggle="modal" data-target="#modal-default">
                                                        <i class="fa fa-edit"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Ngày Tham Gia</label>
                                                <input type="text" class="form-control" id="NgayThamGia" name="NgayThamGia">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer clearfix">
                                    <button type="submit" class="btn btn-primary">Cập Nhật</button>
                                </div>
                            </form>
                        </div>
                        <!-- / -->

                        @Html.Partial("PartialDanhSachDongTacGia", ViewData["DongTacGia"])

                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="baibao">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Danh Sách Bài Báo</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>Mã Báo Chí</th>
                                            <th>Tên Báo Chí</th>
                                            <th>Tiêu Đề Báo Chí</th>
                                            <th>Ngày Xuất bản</th>
                                        </tr>
                                        @foreach (var item in ViewData["BaoChi"] as IEnumerable<tb_BaoChi>)
                                        {
                                        <tr>
                                            <td>@item.MaBaoChi</td>
                                            <td>@item.TenBaoChi</td>
                                            <td>@item.TieuDeBaoChi</td>
                                            <td>@item.TacGiaBaoChi</td>
                                            <td>@item.NgayXuatBan</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer clearfix">
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Tìm Kiếm Tác Giả</h5>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-sm" style="width: 100%;">
                    <input type="text" id="table_search" class="form-control pull-right" placeholder="Tìm kiếm">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" onclick="seachData($('#table_search').val())"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table id="myTable" class="table table-bordered table-hover dataTable">
                            <tbody class="tbody"></tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
@if (TempData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert(@TempData["Message"].ToString());
            };
    </script>
}